* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background: linear-gradient(180deg, #25d897 0%, #ba214c 100%);
}

.container {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-section {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.title {
    margin: 0;
    color: #000000;
    font-size: 42px;
}

.from-block {
    width: 100%;
    max-width: 320px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.control-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2px;
}

.form-label {
    color: #0f0f0f;
    font-size: 16px;
}

.form-control {
    height: 38px;
    padding: 0 5px;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
}

.form-control:focus-visible {
    outline: 5px solid #fff;
}

#emailId {
    text-transform: initial;
}

.btn {
    height: 40px;
    border: none;
    border-radius: 4px;
    color: #000000;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus-visible {
    outline: 2px solid #fff;
}

.submit-btn {
    margin: 5px 0 0 0;
    background-color: #3bd2c6;
}

.users-container {
    margin: 0 auto;
    padding: 20px 0 50px 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.user-card {
    max-width: 250px;
    height: 280px;
    flex-shrink: 0;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #3bd2c6;
    color: #000000;
    position: relative;

    h3 {
        margin: 0;
    }

    img {
        width: 100%;
        object-fit: cover;
        margin-top: auto;
    }

    p {
        margin: 5px 0;
    }

    span {
        font-size: 12px
    }

    .user-edit-btn {
        position: absolute;
        top: 3px;
        right: 42px;
        cursor: pointer;
    }

    .user-remove-btn {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
    }

}

.edit-from-dialog {
    margin: 0;
    position: relative;
    min-width: 300px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: #25d897;

    .form-label {
        color: #000000;
    }

    .close-edit-form-btn {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
    }
}

.edit-form-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}